
/* General styling*/

body {
    font-family: sans-serif;
    margin: 0;
    transition: 0.3s;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}

/*Bigger sub section styling*/
.sub-title {
    color: black;
    margin-top: 30px;
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}


header {
    background-color: #0096FF;
    padding: 20px;
    border: solid #0096FF;
    border-bottom: black solid 5px;
    text-align: left;
}

h1 {
    margin-bottom: 5px; 
}

#container {
    padding: 15px;

}


#container h3{
    font-size: 2rem;
}

#container li {
    line-height: 1.5;
}


#intro {
    padding: 20px;
    text-align: center;
}

#photo {
    padding: 20px;
}

/*Smaller section styling*/
.logos {
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 5rem;
    transition-duration: 1.3s;
}

.intro-txt{
    text-align: center;
    padding: 20px;
}

.about-me{
    text-align: left;
    padding: 5px;
    line-height: 1.5;

}

.school{
    padding: 20px;
    color: #0096FF;
}


.profile-pic {
    width: 300px;
    height: auto;
    border: 10px solid #0096FF;
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 75px 100px 75px; ;
}


.social-links li {
    display: inline;

    a {
        color: white;
    }

    :visited {
        color: #0096FF;
    }
}

.job {
    margin-bottom: 20px;
}

/*Project container and boxes*/
.flex-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.3s ease,background-color 0.3s ease;
}

.flex-box {
    transform: translateZ(0);  /* Force hardware acceleration */
    -webkit-backface-visibility: hidden; /* For older Chrome/Safari */
    backface-visibility: hidden;
    width: 600px;
    height: auto;
    background: #0096FF;
    color: white;
    text-align: center;
    line-height: 1.5;
    border-radius: 20px;
    margin: 10px;
    transition: all 0.3s ease, background-color 0.3s ease;
    display: flex;        /* Make flex-box a flex container */
    flex-direction: column; /* Align items vertically */
    align-items: center;   /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.flex-box:hover {
    background: purple;
    transform: scale(1.05);
    animation: fade-up 0.5s 0.4s backwards;
}


/* Buttons for project links and CV download*/
.btn{
    background-color: #0096FF;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5000px;
    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.15);
}
.btn-box{
    background-color: black;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5000px;
    transition: 0.3s;
}
.btn-box:hover{
    transform: scale(1.15);
}
.btn--download{
    padding: 16px 32px;
    font-size: 16px;
    position: fixed;
    bottom: 27px;
    left: calc(50% - 90px);
    z-index: 100;
    box-shadow: 0 6px 23px rgba(0, 0, 0, 0.45);
    animation: fade-up 0.5s 0.4s backwards;
}

.btn--box{
    padding: 16px 32px;
    margin-bottom: 20px;
    font-size: 16px;
    z-index: 50;
    box-shadow: 0 6px 23px rgba(255, 255, 255, 0.45);
    animation: fade-up 0.5s 0.4s backwards;
}

/*Contact me section, container, left-field, right-field, and button, and mobile image sizing*/
.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    color: #0096FF;
    font-size: 40px;
    margin: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #0096FF;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: black;
    border-radius: 50px;
    margin-bottom: 10px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #0096FF;
}

.contact-inputs::placeholder{
    color: black;
}

.contact-left button{
    align-self: flex-start;
    display: flex;
    align-items: center;
    padding: 16px 32px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #0096FF, purple);
}

.contact-left button img{
    height: 15px;
}

.contact-right img{
    width: 500px;
}

@media(max-width: 800px){
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}

